html,
body {
  font-size: 14px;
  font-family: sans-serif;
  background: #f6f6f6;
  margin: 0;
  padding: 0;
  height: 100%;
}

h1 {
  font-family: 'Linux Libertine','Georgia','Times',serif;
  font-weight: normal;
  border-bottom: 1px solid #A2A9B1;
}

h2 {
  margin-top: 0;
  font-size: 18px;
}

a {
  color: #36c;
  text-decoration: none;
}

main {
  background: #fff;
  margin-top: 50px;
  margin-left: 180px;
  margin-bottom: 100px;
  padding: 20px 30px;
  border: 1px solid #A7D7F9;
  border-right: none;
  min-height: 100%;
}

form {
  border: 1px solid #a2a9b1;
  border-radius: 2px;
  padding: 20px;
}

.user-wikitext,
.talk-wikitext {
  display: block;
  margin-left: 25px;
  margin-top: 5px;
}

ul.tabs {
  list-style: none;
  padding: 0;
  border-bottom: 1px solid #A2A9B1;
}

ul.tabs li {
  display: inline-block;
}

ul.tabs li.right-tab {
  float: right;
}

ul.tabs li a {
  color: #000;
  display: inline-block;
  padding: 7px 10px;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 2px solid #fff;
}

ul.tabs li a.active {
  color: #36c;
  border-color: #36c;
}

ul.tabs li a.disabled {
  pointer-events: none;
  color: #a2a9b1;
}

table.check {
  width: 100%;
  border-left: 1px solid #72777d;
  border-right: 1px solid #72777d;
}

table.check th,
table.check td {
  vertical-align: top;
  padding: 8px;
  border-bottom: 1px solid #a2a9b1;
  background: #F8F9FA;
}

table.check th {
  background: #EAECF0;
  border-top: 1px solid #72777d;
  border-right: 1px solid #72777d;
  background-image: url('res/sort_both.svg');
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: 21px;
  vertical-align: middle;
}

table.check td .tools {
  opacity: 0;
  transition: all 250ms ease;
  display: block;
  font-weight: normal;
  font-size: 10px;
  height: 0;
}

table.check td:hover .tools {
  opacity: 1;
  height: auto;
}

table.check th:last-child {
  border-right: none;
}

table.check tr.main td {
  border-top: 1px solid #72777d;
}

table.check td.user {
  width: 200px;
  border-right: 1px solid #a2a9b1;
  font-weight: bold;
  background: #EAECF0;
}

table.check td.ip {
  border-left: 1px solid #a2a9b1;
}

table.check td.user small {
  font-weight: normal;
}

table.check td[data-data^="b-"],
table.check td[data-data^="o-"],
table.check td[data-data^="d-"] {
  width: 150px;
}

table.check td[data-data^="d-"] {
  width: 180px;
  text-align: right;
}

table.check td[data-data^="ip-"] {
  width: 120px;
  padding-left: 10px;
}

table.check td[data-data^="w-"] {
  width: 150px;
  padding-left: 20px;
}

table.check td[data-data^="d-"] small {
  color: #72777d;
}

table.check tr.highlight td,
table.check td.highlight-user {
  transition: background-color 200ms ease;
  background: #fef6e7 !important;
}
table.check tr.highlight td.highlight,
table.check td.highlight {
  transition: background-color 200ms ease;
  background-color: #fc3 !important;
}

table.check tr.highlight.nearfilter td,
table.check tr.main.highlight.nearfilter td {
  transition: background-color 200ms ease;
  background: #fee7e6 !important;
}

table.check tr.highlight.nearfilter td.highlight.nearfilter {
  transition: background-color 200ms ease;
  background-color: #d33 !important;
}

td.load-more-container {
  text-align: center;
}

a.load-more {
  text-decoration: none;
  color: #fff;
  background: #36c;
  display: inline-block;
  margin: 4px auto;
  padding: 10px 20px;
  text-align: center;
  border-radius: 2px;
  font-weight: bold;
}

.notice {
  width: 920px;
  margin-top: 10px;
  background: #eaf3ff;
  padding: 20px;
  border: 1px solid #36c;
  border-radius: 2px;
}

.notice a {
  float: right;
  display: inline-block;
  border-radius: 2px;
  color: white;
  background: #36c;
  padding: 10px;
  font-weight: bold;
  margin-top: -10px;
}

.error {
  border-color: #b32424;
  background: #fee7e6;
}

.error a {
  background-color: #d33;
}

.green {color: #006400;}
.red {color: #8b0000;}
.gray{ color: gray;}

#timeline-list li {
  margin-top: 10px;
  padding: 3px;
}

#timeline-list .hoo {
  padding: 5px;
  border-radius: 10px;
}

#timeline-list span.highlight,
#timeline-list a.highlight {
  background: #fc3;
}

#timeline-list li.highlight {
  background: #fef6e7;
}

.pinfilter {
  opacity: 0;
  display: block;
  transition: opacity 200ms ease;
}

td:hover .pinfilter {
  opacity: 1;
}

.pinfilter a {
  display: inline-block;
  background: white;
  border-radius: 100px;
  width: 30px;
  height: 30px;
  text-align: center;
}

.pinfilter a img {
  height: 16px;
  margin-top: 8px;
}

.user_icon_col {
  width: 100px;
}
